services:
  redpanda: 
    image: redpandadata/redpanda:latest
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --check=false
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:29092,OUTSIDE://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:29092,OUTSIDE://localhost:9092
    ports:
      - "9092:9092"

  console:
    image: redpandadata/console:latest
    environment:
      KAFKA_BROKERS: redpanda:29092
    ports:
      - "8080:8080"
    depends_on:
      - redpanda

  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: blausher
      POSTGRES_DB: back
    ports:
      - "15432:5432"
    volumes:
      - ./app/db/migrations:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  api: # основная апишка
    build:
      context: .
      dockerfile: Dockerfile
    command: python app/main.py
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: blausher
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: back
      KAFKA_BOOTSTRAP_SERVERS: redpanda:29092
    ports:
      - "8003:8003"
    depends_on:
      postgres:
        condition: service_healthy

  worker: # воркер который читает очередь и использует модель
    build:
      context: .
      dockerfile: Dockerfile
    command: python -m app.workers.moderation_worker
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_USER: blausher
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: back
      KAFKA_BOOTSTRAP_SERVERS: redpanda:29092
      KAFKA_MODERATION_GROUP_ID: moderation-worker
    depends_on:
      postgres:
        condition: service_healthy
      redpanda:
        condition: service_started

volumes:
  pgdata:
